<style name="alert_device_card">
    div[alert_device] > div.uk-card {
        min-width: 432px;
    }
    div[alert_device] > div.uk-card >  div.uk-card-body {
        background: #bfc0c0;
    }
    div[alert_device_member] > div.uk-card {
        border-bottom: 1px solid #aaa;
        border-radius: 8px;
        overflow: hidden;
    }
    div[alert_device_member] > div.uk-card.uk-alert-success .uk-card-body {
        box-shadow: inset 0 0 8px #32d296;
    }
    div[alert_device_member] > div.uk-card.uk-alert-warning .uk-card-body {
        box-shadow: inset 0 0 8px #faa05a;
    }
    div[alert_device_member] > div.uk-card.uk-alert-danger .uk-card-body {
        box-shadow: inset 0 0 8px #f0506e;
    }
    div[alert_device_member] table {
        width: 96px!important;
    }

    div[alert_device_member] table td {
        padding: 8px 0px!important;
    }
</style>