<style name="base">
    html, body {
        height: 100%;
    }

    body {
        background: #f4f1de;
    }

    div[label-status="default"] {
        background: #1e87f0;
        color: #fff;
    }

    div[label-status="disable"] {
        background: #808080;
        color: #fff;
    }

    .uk-offcanvas-bar {
        background: #81b29a;
    }
</style>